.app__productPage-outer{
    background-color: var(--color-light);
}

.app__productPage-container{
    padding:0 3rem;
    min-height: 90vh; 
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-auto-rows: auto;
    position: relative;

}
.filter_icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: .5rem;
    display: grid;
    place-items: center;
    display: none;
    z-index: 999;
}

.filter_icon:hover{
    box-shadow: 4px 6px 10px rgba(184, 184, 184, 0.5);
}

.mobile-filter{
    background-color: var(--color-light);
    position: fixed;
    left: 0px;
    top: 0;
    width: 300px;
    height: 100vh;
    z-index: 100;
    transition: all .3s;
    display: none;
}

@media screen and (max-width:800px){
 
    .app__productPage-container{
        grid-template-columns: 1fr;
    }
   
    .desktop_filter-panel{
        display: none;
    }
    .mobile-filter{
        display: block;
    }
    .productPanel{
        justify-content: center;
    }
    .product_grid{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    } 
    .filter_icon{
        display: grid;
        place-items: center;
    }
}

@media screen and (max-width:600px){
 
    .app__productPage-container{
        grid-template-columns: 1fr;

    }
    .product_heading-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
  
    .productPanel{
        justify-content: center;
    }
    .product_grid{
        grid-template-columns:1fr;
        justify-items: center;
    } 
    .product_card{ 
        width: 15rem;
        box-shadow: 4px 6px 10px rgba(184, 184, 184, 0.5);
    }
}




