.productPanel{
    padding: 2rem 1rem;
    border-left: 1px solid var(--color-dark);
}

.product_heading-wrapper{
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.product_grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: start;
    gap: 2rem 1rem;
}

@media screen and (max-width:800px)
{
    .productPanel{
        border: none;
    }
}
